@model WebApplication2.Models.Proveedor

<h2>Editar Proveedores</h2>

<form method="post">
    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre" required />
    </div>
    <div class="form-group">
        <label for="Direccion">Direccion</label>
        <input type="text" class="form-control" id="Direccion" name="Direccion" value="@Model.Direccion" required />
    </div>
   <div class="form-group">
    <label for="Articulo">Articulo</label>
    <input type="text" class="form-control" id="Articulo" name="Articulo" value="@Model.Articulo" required />
    </div>
<<<<<<< HEAD
=======
    <div class="form-group">
    <label for="Email">Email</label>
    <input type="Email" class="form-control" id="Email" name="Email" value="@Model.Email" required />
    </div>
    <div class="form-group">
        <label for="Telefono">Telefono</label>
        <input type="text" class="form-control" id="Telefono" name="Telefono" value="@Model.Telefono" required />
    </div>
>>>>>>> 1fe8ccabcf910de1c112e52fcc0a1d6f60754de2
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>